html,
div {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #333333;
    color: #FFF;
}

footer {
    position: absolute fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: #D7B637;
}

.title {
    color: #D7B637
}

.photo {
    width: 150px;
}

form input {
    background-color: #FFF !important;
}

.card-item,
.type-list {
    list-style: none;
    padding-left: 0;
}

.card-item,
.card-box {
    position: relative;
    margin: 15px;
    border-top: 1px solid #CEBF7B;
    border-bottom: 1px solid #CEBF7B;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.card-item,
.card-box,
.remove-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #F00;
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}

.card-item,
.card-box,
.name {
    text-transform: capitalize;
}

.card-item,
.type-list {
    display: inline-block;
    color: #CEBF7B;
    text-transform: capitalize;
    margin-right: 5px;
}

.type-item {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 5px;
}

.card-item,
.type-list,
.type-item:last-child {
    margin-right: 0;
}

.ground {
    color: #DEB887;
}

.dragon {
    color: #AB82FF;
}

.water {
    color: #B0E2FF;
}

.steel {
    color: #CCCCCC;
}

.bug {
    color: #99CC33;
}

.electric {
    color: #FFD700;
}

.fairy {
    color: #FFB0FF;
}

.dark {
    color: #A9A9A9;
}

.fire {
    color: #FF7F00;
}

.ghost {
    color: #778899;
}

.poison {
    color: #CC88BB;
}

.ice {
    color: #ADD8E6;
}

.grass {
    color: #99FF66;
}

.fighting {
    color: #FF6A6A;
}

.flying {
    color: #BAAAFF;
}

.psychic {
    color: #FFB5C5;
}

.normal {
    color: #DDCCAA;
}

.rock {
    color: #CD853F;
}